*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.container{
    width:700px;
    height:auto;
    background-color: rgb(65, 109, 94);
    margin: 10px auto;
    text-align: center;
    box-shadow: 4px 5px 10px black;
    box-sizing: border-box;
}
h2{
    background-color: blue;
    text-align: center;
    color:white;
    padding: 10px;
}
input,button,select{
    margin: 10px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;

}
button{
    background-color: rgb(34, 62, 153);
    color: white;
}
button:hover{
    background-color: blueviolet;
}
table,th,td{
    border: 2px solid black;
    border-collapse:collapse;
    
}
table{
    width:90%;
    margin:10px auto;
 
    
 
    
}


